/* 
this page of css is for the main frame of the website
for example, the navigation bar's css can be found here
*/

#calculator-gpa, /*If this was not here, then there would be a weird glitch every time the website reloaded*/
#section4  {
    display: none;
}   

/* html {
  scrollbar-width: none;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
}

::-webkit-scrollbar {
  scrollbar-width: none;
}

/* Navigation Bar */
.navbar {
    background-color: #111b3e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
    transition: background-color 0.5s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.navbar a:hover {
    background-color: #071238;
}

.navbar a:after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0; /* Adjusted to place the line right under the text */
    transition: 0.2s;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar-image {
    width: 500px;
    padding-top: 10px;
    padding-left: 100px;
    height: auto;
}


@media (max-width: 844px) {
    .navbar {
        overflow-x: auto; 
        white-space: nowrap; 
    }

    .navbar a {
        float: none;
        display: inline-block; 
        text-align: center;
        padding: 20px 25px;
    }

    .navbar-image {
        width: 50%;
        padding-left: 0;
    }
}

.header {
    background-color: #071238;
    color: white;
    text-align: center;
    padding: 60px 0;
}

/* Content Sections */
.content {
    padding: 40px;
    text-align: center;
}

/* Section-Specific Styles */
/* Home */
.section1 {
    background-color: #f0f0f0;
    background-image: url('/images/college.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* Center vert */
    justify-content: center; /* Center horizontal */
    height: 100vh; /* Full viewport height */
    margin-top: -80px;
}

/* Button Styles */
.button {
    /*put good font*/
    font-family: 'Rubik';
    background-color: #0d2a8a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer; /* Button Styles */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button:active {
    transform: scale(0.96);
}

.button:hover {
    background-color: rgba(9, 33, 190, 0.649);
}





